.solidCol {
    border-width: 1px;
    border-color: #858585;
    height: 34px;
    border-radius: 2px;
}

.phoneInput {
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
}

.phoneInput::placeholder {
    color: rgb(79, 76, 76);
}
// .phoneInput:focus{
//     border: 0;
//     outline: 0;
// }

.form-control {
    padding: 0.375rem 0.75rem;
}

.lima {
    columns: 3;
}

.customFormControl {
    border: 0;
    outline: 0;
}