<div class="lg:h-[500px] lima mt-12">

    <div class="sm:ml-7">
        <label for="" class="text-2xl font-semibold mb-9">Select Car</label>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="custom">
                <div class="slide bg-[#ff9700] ">
                    <div class="image-container" style="background-image: url(../../../assets/1DS48_GG2slider.png)">
                    </div>
                    <label class="absolute bottom-4 left-4">chevrolate</label>
                </div>
            </ng-template>
            <ng-template carouselSlide class="custom">
                <div class="slide bg-[#ff9700] ">
                    <div class="image-container" style="background-image: url(../../../assets/LIMA.png)">
                    </div>
                    <label class="absolute bottom-4 left-4">chevrolate</label>
                </div>
            </ng-template>
            <ng-template carouselSlide class="custom">
                <div class="slide bg-[#ff9700] ">
                    <div class="image-container" style="background-image: url(../../../assets/1DS48_GG2slider.png)">

                    </div>

                    <label class="absolute bottom-4 left-4">chevrolate</label>
                </div>
            </ng-template>
            <ng-template carouselSlide class="custom">
                <div class="slide bg-[#ff9700] ">
                    <div class="image-container" style="background-image: url(../../../assets/1DS48_GG2slider.png)">

                    </div>

                    <label class="absolute bottom-4 left-4">chevrolate</label>
                </div>
            </ng-template>
            <ng-template carouselSlide class="custom">
                <div class="slide bg-[#ff9700] ">
                    <div class="image-container" style="background-image: url(../../../assets/1DS48_GG2slider.png)">
                    </div>
                    <label class="absolute bottom-4 left-4">chevrolate</label>
                </div>
            </ng-template>
        </owl-carousel-o>
        <!-- Confirm button  -->
        <div class="w-40 select">
            <div class="mt-44 next relative font-semibold ">
                Confirm
                <!-- <button *ngIf="!RentalTermForm.valid" type="submit" class="absolute nextBall addNew cursorNotAllowed"
                    disabled>
                    <img src="../../../../assets/arrow-small-left.png" class="absolute left-6 top-6 " alt=""></button> -->
                <button type="button" (click)="submited()" class="absolute nextBall first-line:addNew cursor-pointer">
                    <img src="../../../../assets/arrow-small-left.png" class="absolute left-6 top-6 " alt=""></button>
            </div>
        </div>
    </div>
</div>